
NewsPublish.Model/obj/Debug/netcoreapp2.2/NewsPublish.Model.dll
*.dll
.vs/NewsPublish/DesignTimeBuild/.dtbcache
.vs/NewsPublish/v16/.suo
.vs/NewsPublish/v16/Server/sqlite3/storage.ide
.vs/NewsPublish/v16/Server/sqlite3/storage.ide-shm
.vs/NewsPublish/v16/Server/sqlite3/storage.ide-wal
NewsPublish.Model/bin/Debug/netcoreapp2.2/NewsPublish.Model.dll
NewsPublish.Model/bin/Debug/netcoreapp2.2/NewsPublish.Model.pdb
NewsPublish.Model/obj/Debug/netcoreapp2.2/NewsPublish.Model.assets.cache
NewsPublish.Model/obj/Debug/netcoreapp2.2/NewsPublish.Model.csproj.FileListAbsolute.txt
NewsPublish.Model/obj/Debug/netcoreapp2.2/NewsPublish.Model.csprojAssemblyReference.cache
NewsPublish.Model/obj/Debug/netcoreapp2.2/NewsPublish.Model.dll
NewsPublish.Model/obj/Debug/netcoreapp2.2/NewsPublish.Model.pdb
NewsPublish.Model/obj/NewsPublish.Model.csproj.nuget.cache
NewsPublish.Model/obj/NewsPublish.Model.csproj.nuget.dgspec.json
NewsPublish.Model/obj/NewsPublish.Model.csproj.nuget.g.props
NewsPublish.Model/obj/project.assets.json
NewsPublish.Model/Response/NewsModel.cs
NewsPublish.Service/NewsService.cs
NewsPublish.Service/obj/Debug/netcoreapp2.2/NewsPublish.Service.assets.cache
NewsPublish.Service/obj/Debug/netcoreapp2.2/NewsPublish.Service.csproj.CoreCompileInputs.cache
NewsPublish.Service/obj/Debug/netcoreapp2.2/NewsPublish.Service.csproj.FileListAbsolute.txt
NewsPublish.Service/obj/Debug/netcoreapp2.2/NewsPublish.Service.csprojAssemblyReference.cache
NewsPublish.Service/obj/Debug/netcoreapp2.2/NewsPublish.Service.dll
NewsPublish.Service/obj/Debug/netcoreapp2.2/NewsPublish.Service.pdb
NewsPublish.Service/obj/NewsPublish.Service.csproj.nuget.cache
NewsPublish.Service/obj/NewsPublish.Service.csproj.nuget.dgspec.json
NewsPublish.Service/obj/NewsPublish.Service.csproj.nuget.g.props
NewsPublish.Service/obj/project.assets.json
NewsPublish.Web/bin/Debug/netcoreapp2.2/NewsPublish.Web.deps.json
NewsPublish.Web/bin/Debug/netcoreapp2.2/NewsPublish.Web.dll
NewsPublish.Web/bin/Debug/netcoreapp2.2/NewsPublish.Web.pdb
NewsPublish.Web/bin/Debug/netcoreapp2.2/NewsPublish.Web.runtimeconfig.dev.json
NewsPublish.Web/bin/Debug/netcoreapp2.2/NewsPublish.Web.Views.dll
NewsPublish.Web/bin/Debug/netcoreapp2.2/NewsPublish.Web.Views.pdb
NewsPublish.Web/obj/Debug/netcoreapp2.2/NewsPublish.Web.assets.cache
NewsPublish.Web/obj/Debug/netcoreapp2.2/NewsPublish.Web.csproj.FileListAbsolute.txt
NewsPublish.Web/obj/Debug/netcoreapp2.2/NewsPublish.Web.csprojAssemblyReference.cache
NewsPublish.Web/obj/Debug/netcoreapp2.2/NewsPublish.Web.dll
NewsPublish.Web/obj/Debug/netcoreapp2.2/NewsPublish.Web.pdb
NewsPublish.Web/obj/Debug/netcoreapp2.2/NewsPublish.Web.Views.dll
NewsPublish.Web/obj/Debug/netcoreapp2.2/NewsPublish.Web.Views.pdb
NewsPublish.Web/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
NewsPublish.Web/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
NewsPublish.Web/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
NewsPublish.Web/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
NewsPublish.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
NewsPublish.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
NewsPublish.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
NewsPublish.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
NewsPublish.Web/obj/NewsPublish.Web.csproj.nuget.cache
NewsPublish.Web/obj/NewsPublish.Web.csproj.nuget.dgspec.json
NewsPublish.Web/obj/NewsPublish.Web.csproj.nuget.g.props
NewsPublish.Web/obj/project.assets.json
NewsPublish.Web/obj/project.assets.json
*.props
*.pdb
